*.idea
**/*.pyc
__pycache__/
.env
.vscode/
.DS_Store
node_modules/
dist/
build/
*.log
coverage/
*.sqlite3
*.db
*.egg-info/
.env.local
.env.development
.env.test
.env.production
*.iml
*.swp
*.swo
thumbs.db
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.war
*.jar